<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li></li>
      </ul>
    </div>
    <h2 class='subheader'>Photo Albm</h2>
  </div>
</div>
