<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to('New Album', new_album_path, :remote => true, :class => 'button tiny radius') %></li>
      </ul>
    </div>
    <h2 class='subheader'>Photo Albm</h2>
  </div>
</div>
