<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Copyright ST</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">Tumblr</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>