New
<form method='post' action='/mountains'>
  Name: <input type='text' name='mountain[name]'  autofocus><br>
  Image: <input type='text' name='mountain[image]'><br>
  Elevation: <input type='text' name='mountain[elevation]'><br>
  Prominence: <input type='text' name='mountain[prominence]'><br>
  Continent: <input type='text' name='mountain[continent]'><br>
  Range: <input type='text' name='mountain[range]'><br>
  <button>Insert Mountain</button>
</form>