#scrabble_app
  .row
    .large-12.columns
      %h1 Scrabble
  .row
    .large-12.columns
      #session_form.inline-block
        = render 'session/form'
  .row
    .large-12.columns
      #add_channel_form.inline-block
        = render 'channels/form'
      #refresh_channels.inline-block
        = link_to('Refresh Channels', channels_path, :remote => true, :class => 'button tiny')
      #all_channels
        = render 'channels/channels'
