<div class='row'>
  <div class='large-5 columns'>
    <h1 class='subheader'>This is Handlebars</h1>
    {{#linkTo 'index' class='button tiny radius'}}Index{{/linkTo}}
    {{#linkTo 'about' class='button tiny radius'}}About{{/linkTo}}
    {{#linkTo 'faq' class='button tiny radius'}}FAQ{{/linkTo}}
    {{#linkTo 'posts' class='button tiny radius secondary'}}Posts{{/linkTo}}
    {{outlet}}
  </div>
</div>