<!DOCTYPE html>
<html>
<head>
  <title>R20130211StockMovie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body class="container">
    <header>
      <nav>
        <ul class="nav nav-pills">
          <li><a href='/'>Home</a></li>
          <li><a href='/about'>About</a></li>
          <li><a href='/faq'>FAQ</a></li>
          <li><a href='/stock'>Stocks</a></li>
          <li><a href='/movie'>Movies</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
