<!DOCTYPE html>
<html>
<head>
  <title>R20130411Scrabble</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
